//remove border from datagrid
.ui-datagrid-content {
	border: none;
}
// add size of primeicons
 .pi {
  width: 24px !important;
  font-size: 24px !important;
}
body{
	background-color:#e0e0e0;
}
.value {
        font-size: 20px;
    }
       .pi {  
    width: 16px !important; 
    font-size: 16px !important; 
  }  